a {
	text-decoration: none;
	color: #66a5ad;
}

.container {
	margin: 0 auto;
	width: 960px;
	max-width: 100%;

}

.quote {
	font-size: 4em;
	color: #66a5ad;
	padding-left: 0.5em;
	font-family: 'Open Sans Condensed', sans-serif;
}

.number {
	color: #66a5ad;
	font-size: 1em;
	magin
}

.author {
	font-size: 1.8em;
	color: #66a5ad;
	padding-left: 0.5em;
	font-family: 'Open Sans Condensed', sans-serif;
}

.maincontent::before {
	content: ' “ ';
    font-size: 6em;
    position: absolute;
    font-family: Georgia;
    top: -.4rem;
    left: -1.45rem;
    opacity: .2;

}

body {
	height: 95vh;
	position: relative;
	background-color: #c4dfe6;
}

.center {
	top: 30%;
	left: 40%;
	transform: translate(-30%,-40%);
	position: absolute;
}

.twitter {
	font-size: .9rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: .5rem .65rem;
    display: inline-block;
    transition-property: background;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.fa {
	height: 30px;
	width: 30px;
	color: #000;
	font-size: 30px;
}

.footer {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 95%;
	transform: translate(-50%,-95%);
	color: #66a5ad;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}